@charset "utf-8";

$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 600px)',
  'lg': 'screen and (min-width: 1000px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #191919;
    color: #fff;
    width: 100%;
    height: 100%;
}

.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vw 80vw 80vw 30vw;

    @include mq(lg){
        grid-template-columns: 20vw 30vw 30vw 20vw;
        grid-template-rows: 11vw 30vw 11vw;
    }

    &-image {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        @include mq(lg){
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &-artist {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        @include mq(lg){
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        width: 100%;
        height: 100%;
        padding: 2vw;
        
        &-title {
            // text-align: center;
            font-size: 6vw;
            @include mq(lg){
                font-size: 2vw;
            }
        }
        &-genre-title, &-toptracks {
            font-size: 3vw;
            @include mq(lg){
                font-size: 1vw;
            }
        }
        &-genre, &-toptracks-list {
            margin-left: 5vw;
            font-size: 3vw;
            @include mq(lg){
                margin-left: 2vw;
                font-size: 1vw;
            }
        }        
    }
}

.bottun {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 4vw;
    margin: 1em 0 0;
    padding: 1.2em 1em; 
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #1db954;
    transition: .4s;
    transition-property: background;
    @include mq(lg){
        font-size: 1.2vw;
        width: 20vw;
        padding: 0.4em 1em;
    }
  }
  
.bottun:hover {
    background: #28FA71;
}

.bottun-top {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 4vw;
    margin: 1em 0 0;
    padding: 1.2em 1em; 
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #524C49;
    transition: .4s;
    transition-property: background;
    @include mq(lg){
        font-size: 1.2vw;
        width: 20vw;
        padding: 0.4em 1em;
    }
  }

.bottun-top:hover {
    background: #6E6662;
}

.footer {
    width: 100vw;
    height: 96px; 
    color: #fff;
    background-color: #3D3937;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;

    &-title {
        padding-left: 8vw;
        @include mq(){
            padding-left: 0;
        }
        font-size: 24px;
        a {
            text-decoration: none;
            color: #FFF;
        }
    }
    &-copyright {
        font-size: 16px;
    }
}